::-webkit-scrollbar
{
    display: none;
}
html,body
{
    overflow-x: hidden;

}
*
{
 margin:0px;
 padding:0px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

/*--------Header---------*/
.containers
{
    background-image: url(img/Fotolia.png) !important;
    height: 100vh !important;
    background-position: center !important;
    background-size: cover !important;
    display: block !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 0 20px !important;
    margin: -3px !important;
    margin-right: -47px !important;
    margin-left: -53px !important;
    margin-top: 21px !important;
    margin-bottom: -3px !important;
}
img#logo 
{
    margin-left: 41px;
    margin-top: 1px;
}
h1#title 
{
    font-size: 30px !important;
    font-family: 'Lobster', cursive !important;
    opacity: 100% !important;
    color: #5ABF28 !important;
    margin-left: 9px !important;
    margin-top: 18px !important;
}
menu 
{
    margin-top: -72px;
    margin-left: 489px;
}
a#accueil 
{
    font-family: 'Montserrat', sans-serif;
    color: #5ABF28;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 160px;
    margin-top: -92px;
}
a#creation_jardin 
{
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 17px;
}
a#creation_jardin:hover 
{
    color: #5ABF28;
}
b#separator 
{
    font-size: 52px;
    color: #DCDCDC;
    height: 4px;
    width: 4px;
    margin-left: 16px;
}
a#entretien_jardin 
{
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px;
}
a#entretien_jardin:hover 
{
    color: #5ABF28;
}
a#contact 
{
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 16px;
    line-height: 6.5;
}
a#contact:hover 
{
    color: #5ABF28;
}
div#facebook 
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 3.4px solid #DCDCDC;
    margin-left: 1263px;
    margin-top: -86px;
}

img#fa-icone 
{
    vertical-align: middle;
    border-style: none;
    margin-left: 13px;
    margin-top: 5px;
    width: 7px;
}
div#twitter 
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #5ABF28;
    margin-left: 1323px;
    margin-top: -40px;
}

img#tw-icone 
{
    vertical-align: middle;
    border-style: none;
    margin-left: 13px;
    margin-top: 13px;
    width: 15px;
}
div#google 
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 3.4px solid #DCDCDC;
    margin-left: 1384px;
    margin-top: -40px;
}

img#go-icone 
{
    vertical-align: middle;
    border-style: none;
    margin-left: 11px;
    margin-top: 5px;
    width: 12px;
}
li#li-title 
{
    color: white;
}
li#li-acceuil 
{
    color: white;
}

/*h1#header_title {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 78px;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 49%;
    margin-right: -45%;
    transform: translate(-50%, -50%);
}
p#contacter {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 75%;
    left: 69.5%;
    margin-left: -20%;
    transform: translate(-50%, -50%);
}
h1#header_title {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 78px;
    font-weight: bold;
    left: 177px;
    top: 482px;
    font-family: 'Lobster', cursive;
    text-align: center;
}
p#contacter {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 508px;
    top: 602px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}*/
h1#header_title
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left: 565px;
    top: 418px;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 520px) 
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 19px;
        margin-top: -92px;
    } 
    b#separator 
    {
      display: none;
   
    }
    a#entretien_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#contact 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 17px;
        line-height: 1;
    }
    img#logo 
    {
        margin-left: 124px;
        margin-top: 5px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 46px;
        margin-top: 25px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 180px;
        margin-top: -39px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 111px;
        margin-top: -41px;
    }
}
/*@media screen and (max-width: 1440px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
}*/
@media screen and (max-width: 1444px) 
{
       
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    img#logo 
    {
        margin-left: -6px;
        margin-top: 1px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1211px;
        margin-top: -85px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1285px;
        margin-top: -40px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1354px;
        margin-top: -38px;
    }
}
@media screen and (max-width: 1412px)
{
    
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 121px !important;
        margin-top: -92px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1175px !important;
        margin-top: -85px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1241px !important;
        margin-top: -41px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1306px !important;
        margin-top: -41px;
    }
} 
@media screen and (max-width: 1376px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 104px !important;
        margin-top: -92px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1131px !important;
        margin-top: -85px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1199px !important;
        margin-top: -41px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1270px !important;
        margin-top: -41px;
    }
}

@media screen and (max-width: 1368px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 85px !important;
        margin-top: -92px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1106px !important;
        margin-top: -85px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1176px !important;
        margin-top: -41px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1246px !important;
        margin-top: -41px;
    }
}
@media screen and (max-width: 1272px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 65px !important;
        margin-top: -92px;
    }
    div#facebook 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 1034px !important;
        margin-top: -85px !important;
    }
    div#twitter 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: #5ABF28 !important;
        margin-left: 1092px !important;
        margin-top: -41px !important;
    }
    div#google 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 1151px !important;
        margin-top: -41px !important;
    }
}
@media screen and (max-width: 1036px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 45px !important;
        margin-top: -92px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 960px !important;
        margin-top: 0px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 960px !important;
        margin-top: 19px;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 960px !important;
        margin-top: 22px;
    }
    
}


@media screen and (max-width: 1024px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    img#logo 
    {
        margin-left: -6px;
        margin-top: 7px;
        width: 29px !important;
    }
    h1#title 
    {
        font-size: 16px;
        font-family: 'Lobster', cursive;
        opacity: 100%;
        color: #5ABF28;
        margin-left: 3px;
        margin-top: 26px;
    }
    
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 99px !important;
        margin-top: -92px;
    }
    a#creation_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#creation_jardin:hover 
    {
        color: #5ABF28;
    }
    a#entretien_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 15px;
    }
    a#entretien_jardin:hover 
    {
        color: #5ABF28;
    }
    a#contact 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 16px;
        line-height: 8.8;
    }
    a#contact:hover 
    {
        color: #5ABF28;
    }
    div#google 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 970px !important;
        margin-top: -39px;
    }
    img#go-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
        margin-top: 6px;
        width: 12px;
    }
    img#fa-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 13px;
        margin-top: 5px;
        width: 7px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 865px !important;
        margin-top: -81.8px;
    }
    div#twitter 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 919px !important;
        margin-top: -41px;
    }
    
    img#tw-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 12px;
        margin-top: 15px;
        width: 15px;
    }
    /*h1#header_title {
        font-family: 'Lobster', cursive;
        color: #FFFFFF;
        font-size: 54px;
        text-align: center;
        position: absolute;
        top: 63%;
        left: 49%;
        right: -45%;
        transform: translate(-50%, -50%);
    }
    p#contacter {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        font-size: 23px;
        color: #FFFFFF;
        position: absolute;
        top: 75%;
        left: 66.5%;
        right: -45%;
        transform: translate(-50%, -50%);
    }*/
}
@media screen and (max-width: 768px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*-------Header--------*/
    img#logo 
    {
        margin-left: -3px;
        margin-top: 7px;
        width: 26px !important;
    }
    h1#title 
    {
        font-size: 20px;
        font-family: 'Lobster', cursive;
        opacity: 100%;
        color: #5ABF28;
        margin-left: 2px;
        margin-top: 22px;
        width: 171px;
    }
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 16px !important;
        margin-top: -92px;
    }
    b#separator 
    {
        font-size: 52px;
        color: #DCDCDC;
        height: 4px;
        width: 4px;
        margin-left: -11px;
        display: none;
    }
    a#creation_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#creation_jardin:hover 
    {
        color: #5ABF28;
    }
    a#entretien_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 15px;
    }
    a#entretien_jardin:hover 
    {
        color: #5ABF28;
    }
    a#contact 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 16px;
        line-height: 0.8 !important;
    }
    a#contact:hover 
    {
        color: #5ABF28;
    }
    div#facebook 
    {
      display: none;
    }
    img#fa-icone 
    {
       display: none;
    }
    div#facebooks 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 18px !important;
        margin-top: 11px;
    }
    
    img#fa-icones 
    {
        vertical-align: middle !important;
        border-style: none !important;
        margin-left: 13px !important;
        margin-top: 10px !important;
        width: 7px !important;
    }
    div#twitter 
    {
      display: none;
    }
    
    div#twitters 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 18px !important;
        margin-top: 17px;
    }
    img#tw-icone 
    {
      display: none;
    }
    img#tw-icones 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 13px;
        margin-top: 13px;
        width: 15px;
    }
    div#google 
    {
       display: none;
    }
    img#go-icones 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
        margin-top: 12px;
        width: 12px;
    }
    div#googles 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 18px;
        margin-top: 18px;
    }
    .sticky li
    {
        list-style-type:none;
        color:#efefef;
        height:43px;
        padding:0px;
        margin:0px 0px 1px 0px;
        -webkit-transition:all 0.25s ease-in-out;
        -moz-transition:all 0.25s ease-in-out;
        -o-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
        cursor:pointer;
    }
    .sticky li:hover
    {
        margin-left:115px;
    }
    .sticky li img
    {
        float:left;
        margin:5px 4px;
        margin-right:5px;
    }
    .sticky li p
    {
        padding-top:5px;
        margin:0px;
        line-height:16px;
        font-size:11px;
    }
    .sticky li p a
    {
        text-decoration:none;
        color:#2C3539;
    }
    .sticky li p a:hover
    {
        text-decoration:underline;
    }

   
}
@media screen and (min-width: 425px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    .sticky-container
    {
        position: fixed !important;
    }
}
@media screen and (min-width: 320px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*------Header-----*/
    h1#title 
    {
        font-size: 20px !important;
        font-family: 'Lobster', cursive !important;
        opacity: 100% !important;
        color: #5ABF28 !important;
        margin-left: -10px !important;
        margin-top: 22px !important;
        width: 140px !important;
    }


}

@media screen and (max-width: 425px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    .sticky-container
    {
        position: fixed !important;
    }
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 5px !important;
        line-height: 1.8 !important;
    }
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: #5ABF28 !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: 6px !important;
    }
}

@media screen and (max-width: 1215px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 992px !important;
        margin-top: -85px !important;
    }
    div#twitter 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: #5ABF28 !important;
        margin-left: 1048px !important;
        margin-top: -41px !important;
    }
    div#google 
    {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 1103px !important;
        margin-top: -41px !important;
    }
}

@media screen and (max-width: 1154px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 941px !important;
        margin-top: -77px !important;
    }
    img#fa-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 8px;
        margin-top: -4px;
        width: 7px;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: #5ABF28 !important;
        margin-left: 978px !important;
        margin-top: -31px !important;
    }
    img#tw-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 8px;
        margin-top: 5px;
        width: 15px;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid #DCDCDC !important;
        margin-left: 1017px !important;
        margin-top: -31px !important;
    }
    img#go-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 7px;
        margin-top: -2px;
        width: 12px;
    }
}


@media screen and (max-width: 1053px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 865px !important;
        margin-top: -77px !important;
    }
    img#fa-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 8px;
        margin-top: -4px;
        width: 7px;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 911px !important;
        margin-top: -31px !important;
    }
    img#tw-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 8px;
        margin-top: 5px;
        width: 15px;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 958px !important;
        margin-top: -31px !important;
    }
    img#go-icone 
    {
        vertical-align: middle;
        border-style: none;
        margin-left: 7px;
        margin-top: -2px;
        width: 12px;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: 20px !important;
    }
}


@media screen and (max-width: 1008px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 822px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 868px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 919px !important;
        margin-top: -31px !important;
    }
}


@media screen and (max-width: 960px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 790px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 833px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 876px !important;
        margin-top: -31px !important;
    }
}


@media screen and (max-width: 902px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 772px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 818px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 862px !important;
        margin-top: -31px !important;
    }
}
@media screen and (max-width: 901px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 765px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 806px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 847px !important;
        margin-top: -31px !important;
    }
}

@media screen and (max-width: 901px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 756px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 797px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 839px !important;
        margin-top: -31px !important;
    }
}

@media screen and (max-width: 871px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 752px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 791px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 831px !important;
        margin-top: -31px !important;
    }
}

@media screen and (max-width: 858px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 717px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 755px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 795px !important;
        margin-top: -31px !important;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: -37px !important;
    }
}

@media screen and (max-width: 599px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    h1#title 
    {
        font-size: 13px !important;
        font-family: 'Lobster', cursive !important;
        opacity: 100% !important;
        color: #5ABF28 !important;
        margin-left: -10px !important;
        margin-top: 22px !important;
        width: 140px !important;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: -37px !important;
    }
    a#creation_jardin 
    {
        color: #969696  !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 5px !important;
    }
}

@media screen and (max-width: 588px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 1px !important;
    }
    
}
@media screen and (max-width: 576px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif  !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 7px !important;
    }
    
}
@media screen and (max-width: 520px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    h1#title 
    {
        font-size: 20px !important;
        font-family: 'Lobster', cursive !important;
        opacity: 100% !important;
        color: #5ABF28 !important;
        margin-left: -202px !important;
        margin-top: 22px !important;
        width: 140px !important;
    }
}

@media screen and (max-width: 830px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 699px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 738px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 778px !important;
        margin-top: -31px !important;
    }
}
@media screen and (max-width: 800px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 695px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 731px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 768px !important;
        margin-top: -31px !important;
    }
}

@media screen and (max-width: 784px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-left: 9px !important;
    }
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-left: 12px !important;
    }
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-left: 9px !important;
        line-height: 1.8 !important;
    }
    div#facebook 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 679px !important;
        margin-top: -77px !important;
    }
    div#twitter 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: rgb(90, 191, 40) !important;
        margin-left: 717px !important;
        margin-top: -31px !important;
    }
    div#google 
    {
        width: 30px !important;
        height: 30px !important;
        border-radius: 20px !important;
        background-color: white !important;
        border: 3.4px solid rgb(220, 220, 220) !important;
        margin-left: 751px !important;
        margin-top: -31px !important;
    }
    img#logo 
    {
        margin-left: -6px !important;
        margin-top: 7px !important;
        width: 22px !important;
    }

    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-left: 17px !important;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: 5px !important;
    }
    h1#title 
    {
        font-size: 18px !important;
        font-family: 'Lobster', cursive !important;
        opacity: 100% !important;
        color: #5ABF28 !important;
        margin-left: -10px !important;
        margin-top: 22px !important;
        width: 140px !important;
    }
    
    
    
    
    
}
@media screen and (max-width: 761px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: -9px !important;
    }
    
    
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 12px !important;
        text-decoration: none !important;
        margin-left: 9px !important;
        line-height: 1.8 !important;
    }
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 17px !important;
    }
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 9px !important;
        line-height: 1.8 !important;
    }
}
@media screen and (max-width: 588px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: rgb(90, 191, 40) !important;
        text-transform: uppercase !important;
        font-size: 8px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: 23px !important;
    }
    
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 8px !important;
        text-decoration: none !important;
        margin-left: 12px !important;
    }
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 8px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 8px !important;
        text-decoration: none !important;
        margin-left: 9px !important;
        line-height: 1.8 !important;
    }
    h1#title 
    {
        font-size: 15px !important;
        font-family: 'Lobster', cursive !important;
        opacity: 100% !important;
        color: #5ABF28 !important;
        margin-left: -10px !important;
        margin-top: 22px !important;
        width: 140px !important;
    }
}
@media screen and (max-width: 599px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *
    {
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 5px !important;
        line-height: 1.8 !important;
    }
    a#entretien_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#creation_jardin 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 4px !important;
    }
    a#accueil 
    {
        font-family: Montserrat, sans-serif !important;
        color: #5ABF28 !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-top: -92px !important;
        margin-left: 6px !important;
    }
}
@media screen and (max-width: 765px)
{
    ::-webkit-scrollbar
    {
        display: none;
    }
    html,body
    {
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#contact 
    {
        color: #969696 !important;
        font-family: 'Montserrat', sans-serif !important;
        text-transform: uppercase !important;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-left: 5px !important;
        line-height: 1.8 !important;
    }
}