::-webkit-scrollbar{
    display: none;
}
html,body{
    overflow-x: hidden;

}

*{
 margin:0px;
 padding:0px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

/*--------Header---------*/
.containers
{
    background-image: url(img/Fotolia.png) !important;
    height: 100vh !important;
    background-position: center !important;
    background-size: cover !important;
    display: block !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 0 20px !important;
    margin: -3px !important;
    margin-right: -47px !important;
    margin-left: -53px !important;
    margin-top: 21px !important;
    margin-bottom: -3px !important;
}
img#logo {
    margin-left: 41px;
    margin-top: 1px;
}
h1#title {
    font-size: 30px;
    font-family: 'Lobster', cursive;
    opacity: 100%;
    color: #5ABF28;
    margin-left: 9px;
    margin-top: 18px;
}
menu {
    margin-top: -72px;
    margin-left: 489px;
}
a#accueil {
    font-family: 'Montserrat', sans-serif;
    color: #5ABF28;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 160px;
    margin-top: -92px;
}
a#creation_jardin {
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 17px;
}
a#creation_jardin:hover {
    color: #5ABF28;
}
b#separator {
    font-size: 52px;
    color: #DCDCDC;
    height: 4px;
    width: 4px;
    margin-left: 16px;
}
a#entretien_jardin {
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px;
}
a#entretien_jardin:hover {
    color: #5ABF28;
}
a#contact {
    color: #969696;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin-left: 16px;
    line-height: 6.5;
}
a#contact:hover {
    color: #5ABF28;
}
div#facebook {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 3.4px solid #DCDCDC;
    margin-left: 1263px;
    margin-top: -86px;
}

img#fa-icone {
    vertical-align: middle;
    border-style: none;
    margin-left: 13px;
    margin-top: 5px;
    width: 7px;
}
div#twitter {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #5ABF28;
    margin-left: 1323px;
    margin-top: -40px;
}

img#tw-icone {
    vertical-align: middle;
    border-style: none;
    margin-left: 13px;
    margin-top: 13px;
    width: 15px;
}
div#google {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 3.4px solid #DCDCDC;
    margin-left: 1384px;
    margin-top: -40px;
}

img#go-icone {
    vertical-align: middle;
    border-style: none;
    margin-left: 11px;
    margin-top: 5px;
    width: 12px;
}
li#li-title {
    color: white;
}
li#li-acceuil {
    color: white;
}

/*ul#menu_ {
    margin-left: -250px;
}*/

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 520px) 
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil 
    {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 19px;
        margin-top: -92px;
    } 
    b#separator 
    {
      display: none;
   
    }
    a#entretien_jardin 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#contact 
    {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 17px;
        line-height: 1;
    }
    img#logo 
    {
        margin-left: 124px;
        margin-top: 5px;
    }
    div#facebook 
    {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 46px;
        margin-top: 25px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 180px;
        margin-top: -39px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 111px;
        margin-top: -41px;
    }
}

@media screen and (max-width: 1444px) 
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    img#logo {
        margin-left: -6px;
        margin-top: 1px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1211px;
        margin-top: -85px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1285px;
        margin-top: -40px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1354px;
        margin-top: -38px;
    }
}
@media screen and (max-width: 1412px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 121px !important;
        margin-top: -92px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1175px !important;
        margin-top: -85px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1241px !important;
        margin-top: -41px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1306px !important;
        margin-top: -41px;
    }
} 
@media screen and (max-width: 1376px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 104px !important;
        margin-top: -92px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1131px !important;
        margin-top: -85px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1199px !important;
        margin-top: -41px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1270px !important;
        margin-top: -41px;
    }
}

@media screen and (max-width: 1368px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 85px !important;
        margin-top: -92px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1106px !important;
        margin-top: -85px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1176px !important;
        margin-top: -41px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1246px !important;
        margin-top: -41px;
    }
}
@media screen and (max-width: 1272px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 65px !important;
        margin-top: -92px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1059px !important;
        margin-top: -85px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 1120px !important;
        margin-top: -41px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 1184px !important;
        margin-top: -41px;
    }
}
@media screen and (max-width: 1036px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 45px !important;
        margin-top: -92px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 960px !important;
        margin-top: 0px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 960px !important;
        margin-top: 19px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 960px !important;
        margin-top: 22px;
    }
    
}


@media screen and (max-width: 1024px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*----Header-----*/
    img#logo {
        margin-left: -6px;
        margin-top: 7px;
        width: 29px !important;
    }
    h1#title {
        font-size: 16px;
        font-family: 'Lobster', cursive;
        opacity: 100%;
        color: #5ABF28;
        margin-left: 3px;
        margin-top: 26px;
    }
    
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 99px !important;
        margin-top: -92px;
    }
    a#creation_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#creation_jardin:hover {
        color: #5ABF28;
    }
    a#entretien_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 15px;
    }
    a#entretien_jardin:hover {
        color: #5ABF28;
    }
    a#contact {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
        margin-left: 16px;
        line-height: 8.8;
    }
    a#contact:hover {
        color: #5ABF28;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 970px !important;
        margin-top: -39px;
    }
    img#go-icone {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
        margin-top: 6px;
        width: 12px;
    }
    img#fa-icone {
        vertical-align: middle;
        border-style: none;
        margin-left: 13px;
        margin-top: 5px;
        width: 7px;
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 865px !important;
        margin-top: -81.8px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 919px !important;
        margin-top: -41px;
    }
    
    img#tw-icone {
        vertical-align: middle;
        border-style: none;
        margin-left: 12px;
        margin-top: 15px;
        width: 15px;
    }
}
@media screen and (max-width: 768px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*-------Header--------*/
    img#logo {
        margin-left: -3px;
        margin-top: 7px;
        width: 26px !important;
    }
    h1#title {
        font-size: 20px;
        font-family: 'Lobster', cursive;
        opacity: 100%;
        color: #5ABF28;
        margin-left: 2px;
        margin-top: 22px;
        width: 171px;
    }
    a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 16px !important;
        margin-top: -92px;
    }
    b#separator {
        font-size: 52px;
        color: #DCDCDC;
        height: 4px;
        width: 4px;
        margin-left: -11px;
        display: none;
    }
    a#creation_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#creation_jardin:hover {
        color: #5ABF28;
    }
    a#entretien_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 15px;
    }
    a#entretien_jardin:hover {
        color: #5ABF28;
    }
    a#contact {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 11px;
        text-decoration: none;
        margin-left: 16px;
        line-height: 0.8 !important;
    }
    a#contact:hover {
        color: #5ABF28;
    }
    div#facebook {
      display: none;
    }
    img#fa-icone {
       display: none;
    }
    div#facebooks {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 18px !important;
        margin-top: 11px;
    }
    
    img#fa-icones {
        vertical-align: middle !important;
        border-style: none !important;
        margin-left: 13px !important;
        margin-top: 10px !important;
        width: 7px !important;
    }
    div#twitter {
      display: none;
    }
    
    div#twitters {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 18px !important;
        margin-top: 17px;
    }
    img#tw-icone {
      display: none;
    }
    img#tw-icones {
        vertical-align: middle;
        border-style: none;
        margin-left: 13px;
        margin-top: 13px;
        width: 15px;
    }
    div#google {
       display: none;
    }
    img#go-icones {
        vertical-align: middle;
        border-style: none;
        margin-left: 11px;
        margin-top: 12px;
        width: 12px;
    }
    div#googles {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 18px;
        margin-top: 18px;
    }
  /*  .sticky-container {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: 537px;
        top: 230px;
        width: 210px;
        z-index: 1100;
    }*/
    .sticky li{
        list-style-type:none;
       /* background-color:#fff;*/
        color:#efefef;
        height:43px;
        padding:0px;
        margin:0px 0px 1px 0px;
        -webkit-transition:all 0.25s ease-in-out;
        -moz-transition:all 0.25s ease-in-out;
        -o-transition:all 0.25s ease-in-out;
        transition:all 0.25s ease-in-out;
        cursor:pointer;
    }
    .sticky li:hover{
        margin-left:115px;
    }
    .sticky li img{
        float:left;
        margin:5px 4px;
        margin-right:5px;
    }
    .sticky li p{
        padding-top:5px;
        margin:0px;
        line-height:16px;
        font-size:11px;
    }
    .sticky li p a{
        text-decoration:none;
        color:#2C3539;
    }
    .sticky li p a:hover{
        text-decoration:underline;
    }

   
}
@media screen and (min-width: 425px)
{
/*    .sticky-container {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: 210px;
        top: 230px;
        width: 210px;
        z-index: 1100;
    }*/
    .sticky-container{
        position: fixed !important;
    }
}
@media screen and (min-width: 320px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
    /*------Header-----
    img#logo {
        margin-left: -3px;
        margin-top: 7px;
        width: 26px !important;
    }
    h1#title {
        font-size: 17px;
        font-family: 'Lobster', cursive;
        opacity: 100%;
        color: #5ABF28;
        margin-left: -24px;
        margin-top: 22px;
        width: 257px;
    }
    }
    div#facebook {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 271px !important;
        margin-top: -49px;
    }
    div#twitter {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #5ABF28;
        margin-left: 319px !important;
        margin-top: -42px;
    }
    div#google {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: white;
        border: 3.4px solid #DCDCDC;
        margin-left: 368px !important;
        margin-top: -40px;
    }
*/
h1#title {
    font-size: 20px;
    font-family: 'Lobster', cursive;
    opacity: 100%;
    color: #5ABF28;
    margin-left: -10px;
    margin-top: 22px;
    width: 140px;
}

}

@media screen and (max-width: 425px)
{
    ::-webkit-scrollbar{
        display: none;
    }
    html,body{
        overflow-x: hidden;
    }
    
    *{
     margin:0px;
     padding:0px;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    }
   /* a#accueil {
        font-family: 'Montserrat', sans-serif;
        color: #5ABF28;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 18px !important;
        margin-top: -92px;
    }
    a#creation_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 17px;
    }
    a#entretien_jardin {
        color: #969696;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
        margin-left: 15px;
    }
    */
    .sticky-container{
        position: fixed !important;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
     
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


